<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List department</title>
</head>
<body>
<h1>List employee</h1>
<p>
    <a href="/create-employee">Create new employee</a>
</p>
<table border="1">
    <tr>
        <td>Employee name</td>
        <td>BirthDate</td>
        <td>Department name</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.department.departmentName}"></td>
            <td>
                <a th:href="@{/edit-employee/__${employee.id}__}">Edit</a>
            </td>
            <td>
                <a th:href="@{/delete-employee/__${employee.id}__}">Delete</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>